@model SBurkeMIS4200.Models.Car

@{
    ViewBag.Title = "Car Details";
}

<h2>Car Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Customer Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCar.customerFullName)
        </dd>

        <dt>
            Salesperson Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salesperson.salespersonFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

    </dl>
</div>

<div class="alert alert-info">
    <strong>Changing the details of the car can be done with the edit function below</strong>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.carId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
